<form action="/Goals/Create" method="post" class="goal-form">
    <input type="text" name="Description" placeholder="Description" class="goal-input" />
    <input type="text" name="Date" placeholder="Date" class="goal-input" />
    <button class="goal-button">Save</button>
</form>