<form action="/Goals/Create" method="post">
    <input type="text" name="Description" placeholder="Description" />
    <input type="text" name="Date" placeholder="Date" />
    <button>Save</button>
</form>