@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Goals/Create" method="post">
    <input type="text" name="Description" placeholder="Description" />
    <input type="text" name="Date" placeholder="Date" />
    <button>Save</button>
</form>