@model List<Goal>

<h1 class="text-primary">Goals 🎯</h1>

<div class="container mt-4">
    <p>
        <a href="/Goals/Create" class="btn btn-success">➕ Add New Goal</a>
    </p>

    @foreach (Goal goal in Model)
    {
        <li>@goal.Description (@goal.Date)</li> <br />
    }
</div>
