@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an app for tracking goals and todos</p>

    <h2>Todos</h2>
    @foreach (Todo todo in Model.Todos) // H Lista tou Class HomeIndexViewModel public List<Todo> Todos { get; set; }
    {
        <p>@todo.Title</p>
    }

    <h2>Goals</h2>
    @foreach (Goal goal in Model.Goals)
    {
        <p>@goal.Description</p>
    }
</div>