@model List<Todo>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Todos</h1>

@foreach (Todo todo in Model)
{
    <p>
        @todo.Title
        <form action="/Todos/Delete/@todo.Id" method="post">
            <button>Delete</button>
        </form>
    </p>
}

<p><a href="/Todos/Create">Create</a></p>