@model List<Todo>


<h1>Todos</h1>

@foreach (Todo todo in Model)
{
    <p>
        @todo.Title
        <form action="/Todos/Delete/@todo.Id" method="post">
            <button>Delete</button>
        </form>
    </p>
}

<p><a href="/Todos/Create">Create</a></p>